[Desktop Entry]
Name=WolfEdit
Comment=A simple text editor
Exec=/usr/local/bin/WolfEdit
Icon=/home/pj/Pictures/WolfEdit.png
Type=Application
Categories=Utility;TextEditor;

